<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>제품 상세페이지</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
     <script>
      function order() {
        alert("주문이 완료되었습니다!!");
        location.href = "/shop";
      } 
      function cancel() {
        alert("주문이 취소되었습니다!");
        location.href = "/shop";
      }
  function save() {
        console.log("enter :: ")
        const prod = document.getElementById("prod").value;
        const qty = document.getElementById("qty").value;
        const uname = document.getElementById("uname").value;
        const address = document.getElementById("address").value;
        const phone = document.getElementById("phone").value;
        //const price = document.getElementById("price").innerText;

        var data = {
          prod: prod,
          uname: uname,
          //price: price,
          qty: qty,
          address: address,
          phone: phone,
        };
        console.log("data :: ", data);

        fetch("/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then(function (res) {
            if (res.ok) {
              alert("완료")
            }
          })
      }
        /* var sell_price;
        var amount;
      
        function init() {
          
          sell_price = document.sell_price.value;
          amount = document.amount.value;
          document.sum.value = sell_price;
          change();
        }
        function change() {
          hm = document.amount;

          if (hm.value < 0) {
            hm.value = 0;
          }
          var sum_ = parseInt(hm.value) * sell_price;
          document.getElementById("my_sum").innerHTML = sum_;
        }
 */

function sum(){
          const qty = document.getElementById("qty").value;
        //const prodName = document.getElementById("prodName").innerText;
        const sum = document.getElementById("sum").innerText;

          document.getElementById("sum1").value = parseInt(qty) * parseInt(sum)
          let nsum = document.getElementById("sum1").value
          console.log(nsum);
        }

    </script>
  </head>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
<<<<<<< HEAD
        <a class="navbar-brand" href="/shop">Shop</a>
=======
        <a class="navbar-brand" href="/order">Shop</a>
>>>>>>> d21c2b39081859a738edf4b503bea3d08df1058e
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
<<<<<<< HEAD
              <a class="nav-link active" aria-current="page" href="/shop">Home</a>
=======
              <a class="nav-link active" aria-current="page" href="/order">Home</a>
>>>>>>> d21c2b39081859a738edf4b503bea3d08df1058e
            </li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">전체 상품</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">인기 상품</a></li>
                <li><a class="dropdown-item" href="#!">신규 상품</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
              로그인
              <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <% for( let i=0; i<1 i++) { %>
        <div class="row gx-4 gx-lg-5 align-items-center">
 <% for( let i=0; i<1; i++) { %>
          <div class="col-md-6">
            <img
<<<<<<< HEAD
              class="card-img-top1 mb-5 mb-md-0"
=======
              class="card-img-top mb-5 mb-md-0"
>>>>>>> d21c2b39081859a738edf4b503bea3d08df1058e
              src="<%=list[i].image %>"
              alt="..."
            />
          </div>
          <div class="col-md-6">
<<<<<<< HEAD
            <!--<div class="small mb-1">상품 코드</div>-->
            <h1 class="display-5 fw-bolder"><%=list[i].name %></h1>
            <div class="fs-5 mb-5">
              <span><%=list[i].price.toLocaleString() %>원</span>

=======
            <div class="small mb-1"></div>
            <h1 class="display-5 fw-bolder"><%=list[i].name %></h1>
            <div class="fs-5 mb-5">
              <span><%=list[i].price %></span>
              <% } %>
>>>>>>> d21c2b39081859a738edf4b503bea3d08df1058e
              <div class="item-order">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >주문자 이름</span
                    >
                  </div>     
                  <input
                    id="uname"
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-addon1"
                  />
                  <input
                    id="prod"
                    type="hidden"
                    value=<%=list[i].name %>
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"
                      >수량</label
                    >
                  </div>
                  <div class="updown">

                    <input id="qty" type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="0">
                    <input id="sum" type="hidden" name="sum" value=<%=list[i].price.toLocaleString() %>>
                    <input type="hidden" name="sum1" size="11" readonly />
                      금액 :
                    <div id="sum2"></div>
                    <span><i class="fas fa-arrow-alt-circle-up up"></i></span>

                    <span><i class="fas fa-arrow-alt-circle-down down"></i></span>

                </div>
                </div>
              <% } %>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">주소</span>
                  </div>
                  <input
                  id="address"
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-addon1"
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >전화번호</span
                    >
                  </div>
                  <input
                  id="phone"
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <button
  type="button"
  id = "addbtn"
  button onclick="save()"
  class="btn btn-outline-dark flex-shrink-0"
  value='<% list[i].prodnum %>' href="/order"
>
  주문하기
</button>
<button
  type="button"
  onclick="cancel()"
  class="btn btn-outline-dark flex-shrink-0"
>
  취소하기
</button>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Related items section --> 
    <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">상품</h2>
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
         <% for( let i=0; i<list.length; i++) { %>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="<%=list[i].image %>""
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                
                  <h5 class="fw-bolder"><%=list[i].name %></h5>
                  <!-- Product price-->
                  <%=list[i].price %>원
                </div>
              </div>
                        
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a
                    class="btn btn-outline-dark mt-auto"
                    value='<%=list[i].prodnum %>' 
                    href="/order/<%=list[i].prodnum %>"
                    >상품구매</a
                  >
                </div>
              </div>
            </div>
          </div>
<% } %>
         
    </section>  
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2023
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
